*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
iframe{
    width:860px;
    height:315px;
    -ms-ime-mode:0;
}

.texto-temp-t1{
    position: absolute;
    top:5110px;
  
    left: 45%;
    width: 35%;
}
.texto-temp-t2{
    position: absolute;
    top:5210px;
   
    left: 45%;
    width: 35%;
}
.texto-temp-t3{
    position: absolute;
    top:5290px;
    
    left: 45%;
    width: 35%;
}.texto-temp-t4{
    position: absolute;
    top:5380px;
    
    left: 45%;
    width: 35%;
}
.texto-temp-t5{
    position: absolute;
    top:5470px;
    
    left: 45%;
    width: 35%;
}
.texto-temp-t6{
    position: absolute;
    top:5560px;
    
    left: 45%;
    width: 35%;
}

.texto-temp-t7{
    position: absolute;
    top:5640px;
    
    left: 45%;
    width: 35%;
}
.texto-temp-t8{
    position: absolute;
    top:5750px;
   
    left: 45%;
    width: 35%;
}
.accordion{
    width: 90%;
    max-width: 900px;
    margin: 2rem auto;
}
.accordion-item{
    background-color:#111;
    color: blanchedalmond;
    margin:1rem 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.9);
}
.accordion-item-body-content img{
    width: 320px;
    height: 470px;
}

.accordion-item-header{
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height:1.25rem;
    font-weight: bold;
    display: flex;
    position: relative;
    cursor: pointer;
}
.accordion-item-header::after{
    content: '\25be'; 
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
.accordion-item-header.active::after{
    content:'\25b4'; 
}
.accordion-item-body{
display: none;
overflow: hidden;
transition: max-height 0.2s ease-out ;
}
.accordion-item-body-content{
padding: 1rem;
line-height: 1.rem;
border-top: 3px solid;
border-image: linear-gradient(to right,transparent,#34495e,transparent)1;
  
}
.accordion-item-header.active + .accordion-item-body{
    display: block;
}
