/*todo conteudo*/
.about-livro{
width: 75%;
height: 900px;
margin: 0 auto 0;
padding: 40px;
}
.about-livro img{
    padding: 20px;
    width: 290px;
    height: 400px;
}
/*crescer as imagem*/
.about-livro img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

/*tratando os textos*/
#texto-livros hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),rgb(52, 73, 94), rgba(0, 0, 0, 0));
}
#texto-livros{
    color:#fff;
    position: absolute;
    text-align: center;
    left: 40%;
    width: 50%;
    font-size: 17px;
    top: 20px;
}
/*Primeiro livro*/
#L1 {
    width: 100%;
    height: 700px;
    top: 70px;
    left: 0;
    background-color: rgba(0,0,0,.9);
    position: fixed;
    display: none;
}
#L1:target{
    display: block;
}
#L1:target ~ .box-l1{
    transition: all .3s;
    transition-delay:  .2s;
}
.box-l1 {
    width: 720px;
    height: 405px;
}
.box-l1  img{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.box-l1:target{
    display: block;
}
/*Segundo livro*/
#L2 {
    width: 100%;
    height: 700px;
    top: 70px;
    left: 0;
    background-color: rgba(0,0,0,.9);
    position: fixed;
    display: none;
}
#L2:target{
    display: block;
}
#L2:target ~ .box-l2{
    transition: all .3s;
    transition-delay:  .2s;
}
.box-l2 {
    width: 720px;
    height: 405px;
}
.box-l2  img{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.box-l2:target{
    display: block;
} 
/*terceiro livro*/
#L3 {
    width: 100%;
    height: 700px;
    top: 70px;
    left: 0;
    background-color: rgba(0,0,0,.9);
    position: fixed;
    display: none;
}
#L3:target{
    display: block;
}
#L3:target ~ .box-l3{
    transition: all .3s;
    transition-delay:  .2s;
}
.box-l3 {
    width: 720px;
    height: 405px;
}
.box-l3  img{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.box-l3:target{
    display: block;
}
/* Quarto livro */
#L4 {
    width: 100%;
    height: 700px;
    top: 70px;
    left: 0;
    background-color: rgba(0,0,0,.9);
    position: fixed;
    display: none;
}
#L4:target{
    display: block;
}
#L4:target ~ .box-l4{
    transition: all .3s;
    transition-delay:  .2s;
}
.box-l4 {
    width: 720px;
    height: 405px;
}
.box-l4  img{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.box-l4:target{
    display: block;
}
/*Quinto*/
#L5 {
    width: 100%;
    height: 700px;
    top: 70px;
    left: 0;
    background-color: rgba(0,0,0,.9);
    position: fixed;
    display: none;
}
#L5:target{
    display: block;
}
#L5:target ~ .box-l5{
    transition: all .3s;
    transition-delay:  .2s;
}
.box-l5 {
    width: 720px;
    height: 405px;
}
.box-l5  img{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.box-l5:target{
    display: block;
}
/* Sexto livro*/
 #L6 {
    width: 100%;
    height: 700px;
    top: 70px;
    left: 0;
    background-color: rgba(0,0,0,.9);
    position: fixed;
    display: none;
}
#L6:target{
    display: block;
}
#L6:target ~ .box-l6{
    transition: all .3s;
    transition-delay:  .2s;
}
.box-l6 {
    width: 720px;
    height: 405px;
}
.box-l6  img{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.box-l6:target{
    display: block;
}