html{
    scroll-behavior: smooth;
}
/* Pagina inteira */
body{
    margin: 0;
    padding: 0;
    background-color: #000;
}
#livros{
    scroll-snap-align: start;
}
#casas{
    scroll-snap-align: start;
}
/* Texto de toda pagina */
h1{
    text-align: center;
    margin :1rem 20rem;
    font-size: 2.5rem;
    color: #FBC98D;
}
h2{
    color:#7C9AA6 ;
    left: 35%;
    margin: 0 auto;
    text-align: center;
}
u{
    color:#7C9AA6 ;
    font-size: 20px;
}
b{
    color:#7C9AA6 ;
    font-size: 20px;
}
p{
    font-size: 19px;
    text-align: justify;
}

.btnParar{
    background-color: rgb(66, 64, 64);
    border: none;
    transition: all 0.4s ease-out;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 100px ;
  }
.btnParar:hover {
    cursor: pointer;
    transform: translateY(-20px);
}
  
/* Logo */
.logo{
    flex: 1 1 auto;
    margin-left: 8%;
}
.logo img{
    width: 200px;
    height: 70px;
}
/* video da pagina inicial */
video{
    width:100% ;
    height:"95%"; 
}
/* Menu */
.wrapper{
position: fixed ;
z-index: 10;
display:flex ;
background-color: rgba(0,0,0,.4);
height: 70px;
width: 100%;
}
header{
    overflow: hidden;
}
nav{
    position: absolute; 
    top:25px;
    left: 50%;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li  {
    display : inline-flex;

}
nav ul li a {
    position: relative;
    padding: 16px 0 5px;
    margin: 0 25px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
nav ul li a:hover{
 color:  #FBC98D;
 transition: .9s;

}
nav ul li a:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0) ;
    -webkit-transform: translateX(-50%) scaleX(0) ;
    -webkit-transform-origin:50% 50%;
    transform-origin:50% 50%;
    width: 100%;
    height: 2px;
    background-color: #A66832 ;
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}
nav ul li a:hover:after{
   -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}
/*pra fecha dos conteudo livros-casas*/
#close{
    color:#fff;
    text-decoration: none;
    font-size: 15px;
    position: absolute;
    top: 15%;
    left: 92%;
    width: 40px;
    height: 40px;
    text-align: center;
    right: 0;
}
#close:hover{
opacity: .6;
}